<a href="https://colab.research.google.com/github/theresiamkenda76/TheresiaBMkenda/blob/main/Day_1_%26_2_Notebook_Soln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
# Numbers in Python
a = 10 # int
b = 1.2# float
c=8 # int
d=1.67 #float

In [46]:
a

10

In [47]:
b

1.2

In [48]:
c

8

In [49]:
d

1.67

In [50]:
# Python List:
even = [2,4,6]
odd = list((1,3,5))
Even=[2,4,6,8,10]
Odd=[1,3,5,7,9]
Prime=[2,3,5,7]

In [51]:
Even

[2, 4, 6, 8, 10]

In [52]:
Odd

[1, 3, 5, 7, 9]

In [53]:
Prime

[2, 3, 5, 7]

In [54]:
S = "Enter your text:"
lower_case = S.lower()
upper_case = S.upper()
R="Enter your Text"
lower_case=R.lower()
Upper=R.upper()

In [55]:
lower_case

'enter your text'

In [56]:
upper_case

'ENTER YOUR TEXT:'

In [57]:
even[2] = 100 # Change the 3rd element to 100
even_ = even * 2 # Concat the same list 2 times

In [58]:
even[2]=100
even_=even*2

In [59]:
even_

[2, 4, 100, 2, 4, 100]

In [60]:
even.append([100, 200, 300]) # Append another list to existing one

In [61]:
even.append

In [62]:
# Python tupple: Immutable
even_tuple = (6, 8, 10)
list(even_tuple)[0] = 100

In [63]:
even_tuple

(6, 8, 10)

In [64]:
list(even_tuple)[1] = 100

In [65]:
even_tuple

(6, 8, 10)

In [66]:
even_tuple[0] = 100 # change first ellent to 100: immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
even_tuple.append(200)# Not allowed

In [67]:
# Python dictionary
even_dict = {"a": 20, "b": 40, "c": 60}

print(list(even_dict.values())) # print all values
print(list(even_dict.keys())) # print all keys of the dictionary
# Iterate over a dict
for k, v in even_dict.items():
    print(f"key: {k}, value: {v}")
# More can be done...

[20, 40, 60]
['a', 'b', 'c']
key: a, value: 20
key: b, value: 40
key: c, value: 60

In [68]:
even_dict = {"A": 34, "B": 46, "C": 60}

In [69]:
print(list(even_dict.values()))

[34, 46, 60]

In [70]:
print(list(even_dict.keys()))

['A', 'B', 'C']

In [71]:
for k, v in even_dict.items():
    print(f"key: {k}, value: {v}")

key: A, value: 34
key: B, value: 46
key: C, value: 60

In [72]:
# Python Set: {Uni}
set1 = set((1,2,3,4,5,5,6,7,8,8,8,9))
set2 = {1,2,3,4,5,5,5,6,7,8,8,8,9}
print(f"set1: {set1}, set2: {set2}")
# More operations are available such as .add, .remove, ..etc

set1: {1, 2, 3, 4, 5, 6, 7, 8, 9}, set2: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
print (f"set1: {set1}, set2: {set2}")

set1: {1, 2, 3, 4, 5, 6, 7, 8, 9}, set2: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
# Type conversions for data cleaning
#==============================================================================
raw_value = "34.7"  # Common scenario: string from CSV files
clean_float = float(raw_value) # casting
print(f"Type: {type(clean_float)}, Value: {clean_float}")

Type: <class 'float'>, Value: 34.7

In [75]:
from pathlib import PureWindowsPath
# Conditional statements in Python:
#===============================================================================
# If statement
x = 10
if x > 5:
    print("x is greater than 5")

# If else statement
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

# Extension of if else
x = 5
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is exactly 5")
else:
    print("x is less than 5")

age = 25
income = 40000

if age > 18 and income > 30000:
    print("Eligible")

if age < 18 or income < 10000:
    print("Not eligible")

if not (age < 18):
    print("Adult")

# Many tricks are available....

x is greater than 5
x is 5 or less
x is exactly 5
Eligible
Adult

In [76]:
# Boolean logic for hypothesis testing
effect_present = True
sample_size = 61
sample_adequacy = (sample_size >= 30)
decision = effect_present and sample_adequacy
print(f"Conclusion valid? {decision}")

Conclusion valid? True

In [77]:
a = True
b = 60
c = False
d = a and c
print(d)

False

In [78]:
# Some boolean operations
True and True
True or True
True or False

True

In [79]:
False | True

True

In [80]:
True & True

True

In [81]:
# Elif ladder for multiple hypothesis outcomes
p_value = 0.07
alpha = 0.05

if p_value < 0.01:
    print("Strong evidence against H₀")
elif p_value < alpha:
    print("Reject H₀")
else:
    print("Fail to reject H₀")

Fail to reject H₀

In [82]:
# While loop & application for convergence checks (Simple simulation)
iteration = 1
current_error = 15.7
while current_error > 0.5:
    print(f"Iteration {iteration}: Error={current_error}")
    current_error *= 0.8  # Simulating error reduction==> current_ = current * 0.8
    iteration += 1

# More on while & for loops can be added...

Iteration 1: Error=15.7
Iteration 2: Error=12.56
Iteration 3: Error=10.048000000000002
Iteration 4: Error=8.038400000000001
Iteration 5: Error=6.430720000000001
Iteration 6: Error=5.144576000000001
Iteration 7: Error=4.115660800000001
Iteration 8: Error=3.2925286400000005
Iteration 9: Error=2.6340229120000007
Iteration 10: Error=2.1072183296000007
Iteration 11: Error=1.6857746636800006
Iteration 12: Error=1.3486197309440007
Iteration 13: Error=1.0788957847552005
Iteration 14: Error=0.8631166278041604
Iteration 15: Error=0.6904933022433284
Iteration 16: Error=0.5523946417946627

In [83]:
L = [1,20, 10, 0.8]
sorted(L)

[0.8, 1, 10, 20]

In [84]:
# Python List & Application in data analysis: Calculate confidence intervals
data = [72, 68, 75, 81, 69, 65, 78, 82, 70, 77]
n = len(data)
mean = sum(data)/n
sorted_data = sorted(data)
lower_ci = sorted_data[int(0.025*n)]
upper_ci = sorted_data[int(0.975*n)]

print(f"Bootstrap 95% CI: [{lower_ci}, {upper_ci}]")
# More operations using Python list can be added

Bootstrap 95% CI: [65, 82]

In [85]:
# Python tuple and application in storing statistical test parameters

t_test_config = (
    "two-sample",              # test type
    "unequal_var",             # variance assumption
    {"alpha": 0.05, "alternative": "two-sided"}  # test parameters
)

print(f"Performing {t_test_config[0]} t-test with {t_test_config[2]['alternative']} alternative and alpha={t_test_config[2]['alpha']}")
# More operations on tuple can be added

Performing two-sample t-test with two-sided alternative and alpha=0.05

In [86]:
# Python dictionary and example of a data structure
trial_data = {
    "treatment_group": {
        "n": 150,
        "mean_improvement": 12.7,
        "std_dev": 4.3
    },
    "control_group": {
        "n": 145,
        "mean_improvement": 9.1,
        "std_dev": 5.2
    }
}

In [87]:
# Accessing nested data
effect_size = (trial_data["treatment_group"]["mean_improvement"]
               - trial_data["control_group"]["mean_improvement"])
print(f"Absolute treatment effect: {effect_size:.1f} points")

# Other dictionary operations can be explored

Absolute treatment effect: 3.6 points

In [88]:
# Python sets and an example on validate survey response categories
allowed_responses = {"strongly_agree", "agree", "neutral", "disagree", "strongly_disagree"}
actual_responses = {"agree", "neutral", "undecided", "agree"}

invalid_responses = actual_responses - allowed_responses
print(f"Invalid responses to filter: {invalid_responses}")

# Other common sets operations can be added

Invalid responses to filter: {'undecided'}

In [89]:
#Comprehension in Python: An example to create covariance
#====================================================================
# We start with the easier cases such
# -List comprehension, dictionary comprehesion, etc.
#====================================================================

# Nested comprehension


variables = ["X", "Y", "Z"]
cov_matrix = {
    row: {col: 0.5 if row != col else 1.0 for col in variables}
    for row in variables
}

print("Simulated Covariance Matrix:")
for row in cov_matrix:
    print(f"{row}: {cov_matrix[row]}")

# Memory-efficient sum of squares (better for big data)
large_dataset = (x**2 for x in range(1000000))  # Generator, not list
total = sum(large_dataset)
print(f"Sum of squares for 1M elements: {total:,}")

# More examples on Comprehensions can be added

Simulated Covariance Matrix:
X: {'X': 1.0, 'Y': 0.5, 'Z': 0.5}
Y: {'X': 0.5, 'Y': 1.0, 'Z': 0.5}
Z: {'X': 0.5, 'Y': 0.5, 'Z': 1.0}
Sum of squares for 1M elements: 333,332,833,333,500,000

In [90]:
# Functions
def add(a, b):
  s = a + b
  #print(s)
  return s

In [91]:
#Calling a function
s = add(50, 4)

In [92]:
vilages = ["A", "B", "C", "D"]

In [93]:
import random

In [94]:
for res in range(3):
  for i in range(5):
    print(random.choice(vilages))

A
B
B
A
D
D
C
C
A
B
A
B
B
A
B

In [95]:
# Simulate household survey data
def simulate_subjects(subject_id):
    data = {
      "id": subject_id,
        "age": random.randint(18, 90),
        "residence": random.choice(["rural", "urban"]),
        "consuption": f"{random.gauss(100, 15):.4f}",
        "income": f"{random.gauss(215, 10):.4f}" if random.random() < 0.3 else None  # Missing data simulation
    }
    return data

In [96]:
# Generate 1000 respondents
study_population=[simulate_subjects(i) for i in range(10)]

In [97]:
# Print all income
for p in study_population:
  print(p["income"])

None
215.5759
None
None
207.4515
None
200.8181
None
None
None

In [113]:
# Show first 3 subjects
for subject in study_population[:100]:
    print(subject)

{'id': 0, 'age': 86, 'residence': 'urban', 'consuption': '76.5996', 'income': None}
{'id': 1, 'age': 72, 'residence': 'rural', 'consuption': '120.9828', 'income': '215.5759'}
{'id': 2, 'age': 36, 'residence': 'rural', 'consuption': '110.3902', 'income': None}
{'id': 3, 'age': 73, 'residence': 'urban', 'consuption': '62.8563', 'income': None}
{'id': 4, 'age': 51, 'residence': 'urban', 'consuption': '89.0139', 'income': '207.4515'}
{'id': 5, 'age': 86, 'residence': 'urban', 'consuption': '119.9582', 'income': None}
{'id': 6, 'age': 72, 'residence': 'urban', 'consuption': '102.2378', 'income': '200.8181'}
{'id': 7, 'age': 66, 'residence': 'rural', 'consuption': '86.5765', 'income': None}
{'id': 8, 'age': 61, 'residence': 'rural', 'consuption': '116.8706', 'income': None}
{'id': 9, 'age': 83, 'residence': 'urban', 'consuption': '96.8527', 'income': None}

In [114]:
# Error handling: Safely handle missing data
def safe_average(values):
    try:
        clean = [float(x) for x in values if x is not None]
        return sum(clean)/len(clean)
    except ZeroDivisionError:
        print("Warning: All values missing!")
        return None

In [100]:
# You can Test with real-world missing data
income_results = [p["income"] for p in study_population]
print(f"Average income result: {safe_average(income_results):.1f}")

Average income result: 207.9

# Exerices
#======================================================================
# Simulate Python data dictionary with columns such as "Income category (low, medium, high)", "Age category such as "teen", "adult", "senior", "location such as rural, urban", "social security such as yes, no"
===================================================================================================================

In [115]:
income = [random.gauss(120, 30) for i in range(10)]
med_inc = sorted(income)[int(len(income)/2)] # finding median
income_cat = []
for i in range(len(income)):
    if sorted(income)[i]< 100:
        income_cat.append("low")
    elif sorted(income)[i] > med_inc:
        income_cat.append("high")
    else:
        income_cat.append("median")

In [102]:
income_cat

['low',
 'mediam',
 'mediam',
 'mediam',
 'mediam',
 'mediam',
 'high',
 'high',
 'high',
 'high']

In [103]:
age = [random.randint(a = 0, b = 120) for _ in range(10)]

In [116]:
age

[50, 59, 38, 73, 10, 102, 70, 28, 84, 80]

In [117]:
age_cat = []
for i in range(len(age)):
    if sorted(age)[i] < 18:
        age_cat.append("teen")
    elif 18 <= sorted(age)[i] < 35:
        age_cat.append("adult")
    else:
        age_cat.append("senior citizen")

In [105]:
social_security = []
for i in range(len(age)):
    if age[i] < 18:
        social_security.append(False)
    else:
        social_security.append(True)

In [106]:
social_security

[True, True, True, True, False, True, True, True, True, True]

In [107]:
place = ["rural", "urban"]
location = [random.choice(place) for i in range(len(age))]

In [108]:
location

['rural',
 'rural',
 'rural',
 'rural',
 'urban',
 'rural',
 'urban',
 'urban',
 'urban',
 'urban']

In [109]:
def categorical_data(sample_size: int):
    income = [random.gauss(120, 30) for i in range(sample_size)]
    med_inc = sorted(income)[int(len(income)/2)]

    income_cat = []
    social_security = []
    age_cat = []
    place = ["rural", "urban"]
    age = [random.randint(a = 0, b = 120) for _ in range(sample_size)]
    ID = [i for i in range(sample_size)]

    # Simulate categorical income
    for i in range(len(income)):
        if sorted(income)[i]< 100:
            income_cat.append("low")
        elif sorted(income)[i] > med_inc:
            income_cat.append("high")
        else:
            income_cat.append("mediam")

    # Simulate age group
    for i in range(len(age)):
        if age[i] < 18:
            social_security.append(False)
        else:
            social_security.append(True)

    # Simulate
    for i in range(len(age)):
        if sorted(age)[i] < 18:
            age_cat.append("teen")
        elif 18 <= sorted(age)[i] < 35:
            age_cat.append("adult")
        else:
            age_cat.append("senior citizen")

    location = [random.choice(place) for i in range(len(age))]

    catdata = {"ID": ID, "Location": location, "Age": age_cat, "Income": income_cat, "SocialSecurity": social_security}

    return catdata

In [118]:
df = categorical_data(30)

In [111]:
import pandas as pd
dfm = pd.DataFrame(df)

In [112]:
dfm

    ID Location             Age  Income  SocialSecurity
0    0    rural            teen     low            True
1    1    urban            teen     low            True
2    2    urban            teen     low            True
3    3    rural            teen     low            True
4    4    rural           adult     low            True
5    5    rural           adult     low            True
6    6    urban           adult     low            True
7    7    urban           adult     low            True
8    8    rural  senior citizen     low            True
9    9    rural  senior citizen     low            True
10  10    urban  senior citizen     low            True
11  11    rural  senior citizen  mediam            True
12  12    rural  senior citizen  mediam            True
13  13    rural  senior citizen  mediam            True
14  14    rural  senior citizen  mediam            True
15  15    urban  senior citizen  mediam            True
16  16    rural  senior citizen    high           False
17  17    rural  senior citizen    high            True
18  18    rural  senior citizen    high            True
19  19    rural  senior citizen    high            True
20  20    rural  senior citizen    high           False
21  21    urban  senior citizen    high            True
22  22    urban  senior citizen    high            True
23  23    urban  senior citizen    high           False
24  24    rural  senior citizen    high            True
25  25    urban  senior citizen    high            True
26  26    rural  senior citizen    high            True
27  27    rural  senior citizen    high            True
28  28    rural  senior citizen    high           False
29  29    urban  senior citizen    high            True